* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#navigation {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
    background-color: #1A1244;
    border-bottom: 4px solid #401E63;

}

.nav-Logo >h2 {
  color: white;
  font-size: 30px;
}    

#navigation > ul {
    display: flex;
}

#navigation > ul > li {
 list-style-type: none;
 margin: 10px 5px;
}

#navigation > ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding:10px 20px;
    transition: 0.5s

    
}
#navigation > ul > li > a:hover{
    color: red;
    background-color: black;
    border-radius: 5px;
    
    
}

/* Hero area code start here */

.hero-area {
    background-image: url('image/website\ banner.jpg');
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.searchBox-Icon-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBox-Icon-parent input {
    
    width:500px ;
    height: 40px;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px 20px;
}
.searchBox-Icon-parent i {
    background-color: green;
    color: red;
    font-size: 25px;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor:pointer;
    margin-left: -10px;

}

/* main section code syart */
 Main {
    background-color:#2D236A ;
    padding-top: 20px;
    padding-bottom: 50px;
}

 .First-section {
   width: 1100px;
   margin: auto;
   padding: 50px 0;
}

 .latest-video-parent {
    display:flex;
    justify-content: space-between;

}
 .latest-video-text {
    font-size: 25px;
    color: #04aa6d;
    font-weight: bold;
}
 .Latest-pages {
    color: #04aa6d;
}

 .Latest-pages span {
    color: black;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 4px;
    margin:0 10px;
    border: 1px solid #80805b;
    cursor: pointer;
}

 .Single-items-parent {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    grid-column-gap:20px;
    margin-top: 25px;
}
.single-items {
    height: 250px;
    border: 3px solid gray;
   
}
.single-items img {
    width: 100%;
    height:250px;
    transition: 0.5s;
    cursor: pointer;
  }
  .single-items:hover img {
    transform: scale(1.1);
    border-radius: 20px;
  }
.single-items div {
    display: flex;
    justify-content: space-between;
    color:gray;
    margin-top: 10px;
}

.Previous-Next-Parent {
    margin-top: 100px;
    display:flex;
    justify-content: space-between;


}
.Previous-Next-Parent h3  a {
    background-color: #04aa6d;
    padding: 10px 25px;
    border-radius: 5px;
    transition:0.5s;
}

.Previous-Next-Parent h3 a:hover{
    background-color: #028354;
}
.Previous-Next-Parent a {
    text-decoration: none;
    color: white;
}

.Previous-Next-Parent div a {
    margin: 0 10px;
    background-color:antiquewhite ;
    color: black;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

.Previous-Next-Parent div a:first-child {
    background-color: #04aa6d;
    color: white;
}

/* Footer section code start */

Footer {
    background-color: #5f1e69 ;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    
}
.footer-container {
    width: 900px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    grid-gap: 50px;
}

.footer-1st-item h3 {
    font-size:25px;
    padding: 30px 0;
}

.footer-1st-item p:first-child {
    margin: bottom 50px; ;
}

.footer-2nd-item h3 {
    font-size: 25px;
    padding: 30px 0;
}

.footer-2nd-item a {
    text-decoration: none;
    color: white;
}
.footer-2nd-item p {
    margin-bottom: 10px;
}

.footer-3rd-item div {
 font-size: 25px;
 padding: 30px 0;

}

.footer-3rd-item div a {
    text-decoration: none;
    color: white;
    margin-right:10px;
    background-color:#1A1244 ;
    padding: 10px;
    border-radius: 5px;

}

.footer-3rd-item p {
    margin-bottom: 10px;
}

.footer-3rd-item p:nth-child(3) {
    margin-bottom: 60px;

}
